#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#input {
    align-items: center;
}

p {
    text-align: center;
    background-color:rgb(240, 245, 250);
    padding: 20px;
    font-family: Arial;
    border-radius: 15px;
} 

img {
    width: 1000px;
    height: 750px;
}

body {
    background-color: blanchedalmond;
}

input {
    height: 20px;
}

button {
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color:black;
    color: rgb(255, 255, 255);
    font-family: Verdana,;
    width: 70px;
}

#question {
    align-items: center;
    display: flex;
    flex-direction: column;
}